* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* P A L E T A - DE - C O L O R E S */

:root {
  --clr1: #f0811a;
  --clr2: #103e5b;
  --clr3: #BDE8CA;
  --clr4: #D7C3F1;
}

  /* F U E N T E S */

@font-face {
  font-family: "fuente1";
  src: url(../font/Bangers_Regular.ttf);
}

@font-face {
  font-family: "fuente2";
  src: url(../font/JustAnotherHand_Regular.ttf);
}

body {
  background-color: var(--clr2);
}
.menu{
    font-size: 18px;
    color: white;
    font-family: "fuente1";
    display: flex;
    gap: 15px;
    justify-content: end;
    padding: 15px;

}

.menu h1:hover{
    color: var(--clr1);
}

.mainSaludo h1{
  font-size: 68px;
    color: white;
    font-family: "fuente1";
    line-height: 1.2;
    text-shadow: 2px 2px 4px var(--clr1);
}

.mainHome{
    display: flex;
    justify-content:space-around;
    justify-items: center;
    align-items: center;
    margin-top: 70px;
}

.mainImagen {
    position: relative;
    z-index: 10;
}

.mainImagen img{
    width: 450px;
    border-radius: 50%;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.4);
    z-index: 10;
}

.estrellas {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.estrellas span {
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  animation: parpadeo 2s infinite alternate;
}

@keyframes parpadeo {
  0% { opacity: 0.3; }
  100% { opacity: 1; }
}

